@{
    ViewData["Title"] = "Contact";
}

@model IList<Contact>
<h1></h1>
<h4>Contatos</h4>
<table width="100%" border="1">
    <thead>
        <tr>
            <th>First Name</th>
            <th>Surname</th>
            <th>Birthday</th>
            <th>Profession</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Address</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var contact in Model)
        {
            <tr>
                <td>@contact.FirstName</td>
                <td>@contact.Surname</td>
                <td>@contact.Birthday.ToString("dd/MM/yyyy")</td>
                <td>@contact.Profession</td>
                <td>@contact.Email</td>
                <td>@contact.Phone</td>
                <td>@contact.Address</td>
            </tr>
        }
    </tbody>
</table>